<div id="room" class="pure-g">

  <div class="pure-u-2-5 left-content">
    <p class="left-content-header">
      Room 「<span v-text="roomName"></span>」 ConnectingPeople: <span v-text="subscribersCount"></span>
    </p>
    <div v-if="loaded">
      <p v-if="sendPostError">Failed Post...</p>
      <form class="pure-form">
        <textarea cols="40" rows="12" v-model="tmpPost"></textarea>
        <br/>
        <br/>
        <input class="pure-button" type="button" value="Post" v-on="click: onPostBtnClick">
      </form>
    </div>
  </div>

  <div class="pure-u-3-5 right-content">
    <p v-if="!loaded">Now Loading...</p>
    <div v-if="loaded">
      <div class="post-list">
        <div class="post" v-repeat="post: posts" v-text="post.body"></div>
      </div>
    </div>
    <p v-if="occurredConnectionError" v-on="click: connect">Reconnect</p>
  </div>
</div>
